@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat';
  src: url('../../src/fonts/Montserrat.ttf') format('truetype');
}

@font-face {
  font-family: 'Space Mono';
  src: url('../../src/fonts/SpaceMono.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata';
  src: url('../../src/fonts/Inconsolata.ttf') format('truetype');
}